[Unit]
Description=Chromium
Requires=X@.service
After=X-window-manager@.service

[Service]
ExecStart=/usr/bin/chromium --no-startup-window
Restart=always
Environment=DISPLAY=%I

[Install]
WantedBy=graphical@.target
