[Unit]
Description=KDE
Requires=X.service
After=X.service

[Service]
ExecStart=/usr/bin/startkde

[Install]
Alias=X-window-manager.service
WantedBy=graphical.target
