[Unit]
Description=KDE Services
Requires=X.service
After=X.service

[Service]
Type=forking
ExecStart=/usr/bin/kdeinit4

[Install]
WantedBy=graphical.target
