[Unit]
Description=Music Player Daemon
Wants=sound.target
After=sound.target

[Service]
ExecStart=/usr/bin/mpd --no-daemon

[Install]
WantedBy=default.target
