[Unit]
ConditionPathIsMountPoint=%h/crypt
Description=A high performance web server and a reverse proxy server
Wants=php-cgi.service
After=php-cgi.service

[Service]
Type=forking
PIDFile=%h/.config/nginx/pid
ExecStart=/usr/bin/nginx -c %h/.config/nginx/nginx.conf
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGQUIT
KillMode=mixed

[Install]
WantedBy=default.target
