[Unit]
Description=Nitrogen Wallpaper
Requires=X.service
After=X.service
Before=X-window-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nitrogen --restore

[Install]
WantedBy=graphical.target
