[Unit]
Description=PulseAudio

[Service]
Type=dbus
BusName=org.pulseaudio.Server
ExecStart=/usr/bin/pulseaudio
Restart=always

[Install]
WantedBy=default.target
