[Unit]
Description=SSH Tunnel

[Service]
ExecStart=/usr/bin/ssh -vNR 2222:localhost:22 -o "ServerAliveInterval 45" -o "ServerAliveCountMax 2" jrieu@srv.fififox.net

[Install]
WantedBy=default.target
