[Unit]
Description=Stream Video to Twitch.tv

[Service]
EnvironmentFile=/home/joan/.config/twitch.key
ExecStart=/usr/bin/ffmpeg -f x11grab -s hd1080 -i :0 -f flv rtmp://live.justin.tv/app/${KEY} -v quiet
Restart=always

[Install]
WantedBy=default.target
