[Unit]
Description=X
ConditionPathExists=/run/user/%U/X11-display
Wants=window-manager@.service

[Service]
Type=forking
ExecStart=/bin/true
KillSignal=SIGCONT
PIDFile=/run/user/%U/xsession.pid
